<form *ngIf = "showAddTask" class="add-form" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="name">Name</label>
    <input type="text" name="name" [(ngModel)]="name"  id="name" placeholder="Enter the client's name">
  </div>

  <div class="form-control">
    <label for="day">Day and Time</label>
    <input type="text" name="day" [(ngModel)]="day" id="day" placeholder="Add day and time">
  </div>

  <div class="form-control form-control-check">
    <label for="paid">Paid</label>
    <input type="checkbox" name="paid" [(ngModel)]="paid" id="paid">
  </div>

  <input type="submit" value="Save Appointment" class="btn btn-block">
</form>

<!-- [()] double binding,  -->
